@font-face {
    font-family: 'Poppins-Regular';
    Src: url("assets/font/Poppins-Regular.ttf");
}

@font-face {
    font-family: 'Poppins-Bold';
    Src: url("assets/font/Poppins-Bold.ttf");
}

body {
    text-align: center;
    margin: auto;
    width: 1000px;

}

h1 {
    font-family: 'Poppins-Bold';
    font-size: 100px;
    text-align: left;
    margin-top: 0;
    line-height: 1.1;
    margin-bottom: 0;
}

h2 {
    font-family: 'Poppins-Bold';
    font-size: 30px;
    text-align: right;
    margin-top: 10px;
    margin-right: 140px;
}

h3 {
    font-family: 'Poppins-Bold';
    font-size: 30px;
    text-align: left;
    margin-top: 130px;
    border-bottom: 1px solid #888;
}

p {
    font-family: 'Poppins-Regular';
    font-size: 20px;
    word-wrap: break-word;
    text-align: left;
}

.main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

.profile-picture {
    border-radius: 50%;
    width: 310px;
    border: 5px solid white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: .5s;
    user-select: none;
    filter: grayscale(100%);
}

.profile-picture:hover {
    filter: grayscale(0%);
    transform: scale(1.20);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
}

.about-me {
    width: 600px;
    margin-top: -30px;
}

.paragraph-size {
    word-wrap: break-word;
    text-align: left;
}

.inline {
    display: inline-block;
}

.socials-img_size {
    height: 30px;
    display: inline-block;
    margin-bottom: -6px;
}

.details-img_location {
    height: 45px;
    vertical-align: middle;
    margin: -10px;

}

.details-img_phone {
    height: 40px;
    vertical-align: middle;
    margin: -10px;
    margin-left: 34px;
}

.details-img_email {
    height: 47px;
    vertical-align: middle;
    margin: -10px;
    margin-left: 34px;
}

.details-font_size {
    display: inline-block;
    margin-top: 0;
    margin-left: 20px;
    font-size: 20px;
}

.details {
    text-align: left;
    margin-top: 100px;
}

.socials {
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;

}

.inline>* {
    display: inline-block;
}

.education {
    margin-top: -110px;
}

.education-header {
    font-size: 25px;
    margin-top: -35px;
}

.skills {
    margin-top: -100px;
}

ul {
    list-style-type: none;
}

.details__email {
    margin-top: 20px;
}

.details__telephone {
    margin-top: 20px;
}

.bar {
    width: 30%;
    height: 20px;
    margin-top: 3%;
    background-color: #79fa00;

}

.bar span {
    display: block;
    width: 60%;
    height: 100%;
    background-color: #a0a0a0;
}

.two-collumn-layout {
    display: block;
}

.socials a {
    text-decoration: none;
    color: black;
}

.socials>* {
    padding: 0px 45px 0px 45px;
}